html {
  box-sizing: border-box;
  border-width: 2px;
  border-left: 2px;
  font-style: normal;
  margin-left: 10px;
}

blockquote {
  /* empty */
}

p {
  color: #555;
  font-family: italic;
}

header {
  font-family: "Crimson Text";
  color: #222;
  font-size: 1.5rem;
  padding-left: 1em;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 1em;
}

article {
  /* empty */
}

article header {
  /* empty */
}

article h1 {
  /* empty */
}

article header p {
  /* empty */
}

article p {
  /* empty */
}

article ol {
  /* empty */
}

.quote {
  font-size: 1.125rem;
  color: #999;
  padding-left: 1rem;
  padding-right: 1rem;
  font-weight: normal;
  line-height: 1.3;
}
